//variables
$first-color: #333e44;
$icon-color: rgb(0, 0, 0);
$link-color: rgb(0, 0, 0);
$second-color: rgba(116, 116, 116, 0.767);
$warning-color:#DC3545;
$bg-main-color: white;
$head-color: white;
$phone: "only screen and (max-width: 480px)";
$tablet: "only screen and (max-width: 768px)";
$desktop: "only screen and (max-width: 1920px)";

@mixin m-common-parts-for-all{
    .app{
        margin: 0;
    }
    .m-info-header h2{
        text-transform: uppercase;
        font-size: 1.3rem;
        font-weight: 900;
        letter-spacing: 3px;
    }
    .m-info-header p{
        font-size: 0.9rem;
        letter-spacing: 2px;
        font-weight: 500;
    }
    .page-item a{
        color: $warning-color;
    }
    .page-item a:hover{
        color: $first-color;
    }
}
//MENU styles
//mixins for top menu (header)
@mixin m-header-small-box-look{
    font-size: 0.9em;
    letter-spacing: 1px;
    padding: 3px;
}
@mixin m-icon-small-box-look{
    color: $icon-color;
    font-size: 1.2em;
}
@mixin m-common-look-for-phone-and-tablet{
    .m-small-header-text{
        display: none;
    }
    .m-email-address i{
        padding: 10px;
    }
    .m-phone i{
        padding: 10px;
    }
}

//mixins for menu
@mixin m-common-menu-for-phone-and-tablet{
    .m-mega-menu {
        padding: 10px 0px;
        width: 300px;
        height: 500px;
        margin-top: 0px;
        overflow: scroll;
    }
    
    .m-mega-menu li {
        display: inline-block;
        float: left;
        font-size: 0.8rem;
        padding: 3px 0px;
        color: $first-color;
        }
    
    .m-mega-menu li.m-mega-menu-column {
        margin-right: 10px;
        width: 120px;
    }
    .m-mega-menu .m-nav-sub-header {
        padding: 0 !important;
        margin-bottom: 10px;
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid #ddd;
    }
}
@mixin m-common-menu-for-desktop{
    .m-mega-menu {
        padding: 10px 0px;
        width: 768px;
        margin-top: 0px;
    }
    
    .m-mega-menu li {
        display: inline-block;
        float: left;
        font-size: 0.9rem;
        padding: 3px 0px;
    }
    .m-mega-menu li a{
        text-decoration: none;
        color: $first-color;
    }
    .m-mega-menu li a:hover{
        color: $warning-color;
    }
    .m-mega-menu li.m-mega-menu-column {
        margin-right: 20px;
        width: 120px;
    }
    
    .m-mega-menu .m-nav-sub-header {
        padding: 0 !important;
        margin-bottom: 10px;
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid #ddd;
    }
}
@mixin m-common-menu-part-for-all{
    body{
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
    }
    a{
        transition-duration: 500ms;
        text-decoration: none;
        outline: 0 solid transparent;
        font-weight: 500
    }
    .m-top-header{
        position: relative;
        z-index: 1;
        background-color: #f3f3f3;
        width: 100%;
    }
    .m-top-header-content{
        position: relative;
        z-index: 1;
        margin: 30px;
    }
    .m-top-header-box{
        width: 50%;
    }
    .m-top-header-box-left{
        position: absolute;
        left: 0;
    }
    .m-top-header-box-right{
        position: absolute;
        right: 0;
    }
    
    .m-open-tooltip{
        color: $second-color;
        @include m-header-small-box-look;
    }
    .m-open-tooltip:hover{
        color: $link-color;
        text-decoration: none;
    }
    .m-open-tooltip i{
        @include m-icon-small-box-look;
    }
    .m-email-address{
        color: $second-color;
        @include m-header-small-box-look;
    }
    .m-email-address:hover{
        color: $link-color;
        text-decoration: none;
    }
    .m-email-address i{
        @include m-icon-small-box-look;
    }
    .m-phone{
        color: $second-color;
        @include m-header-small-box-look;
    }
    .m-phone:hover{
        color: $link-color;
        text-decoration: none;
    }
    .m-phone i{
        @include m-icon-small-box-look;
    }
    .m-sticky-wrapper{
        position: sticky;
        top: 0;
        width: auto;
        padding: 0 0 5px 0;
        background-color: $bg-main-color;
        z-index: 1500;
    }
    .m-main-menu{
        z-index: 1;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15);
    }
    .m-nav-header{
        text-transform: uppercase;
        color: $first-color;
        font-size: 1.2em;
        font-weight: 900;
    }
    .m-nav-header:hover{
        color: green;
    }
    .m-logo{
        width: 80px;
        height: 80px;
        padding: 0;
    }
}

//changes bootstrap style for menu
.navbar-light .navbar-nav .nav-link {
    color: $first-color;
    font-weight: 900;
    letter-spacing: 1.5px;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: $warning-color;
}
.dropdown-item{
    text-decoration: none;
    color: #333e44;
    font-weight: 500;
    font-size: 0.9em;
}
//end MENU styles

//styles for MAIN PHOTO section
@mixin m-common-main-photo-part-for-all{
    .m-image{
        width: 100%;
        height: 400px;
        background-color: rgba(150, 150, 144, 0.274);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .m-title{
        position: relative;
        border: 2px double rgba(255, 255, 255, 0.932);
        top: 50%;
        margin-right: auto;
        margin-left: auto;
        padding: auto;
    }
    .m-title h1{
        position: relative;
        color:$first-color;
        padding: 10px;
        margin: 10px;
        border: 2px double rgba(255, 255, 255, 0.932);
        background-color: rgba(247, 247, 247, 0.801);
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 1px 1px #333e44;
    }
    h1{
        display: block;
        margin: auto;
    }
}

@mixin m-common-main-photo-for-desktop-and-tablet{
    .m-main-photo{
        position: relative;
    }
    .m-image{
        position: relative;
        background-image: url('./../../assets/photos/Panorama1_sm.jpg');
        z-index: -1;
    }
    .m-title h1{
        height: 125px;
        font-size: 2rem;
        letter-spacing: 3px;
    }
    .m-title h1 span{
        color: $warning-color;
        font-size: 1.3rem;
        display: block;
        letter-spacing: 4px;
    }
    
}
@mixin m-common-main-photo-for-desktop{
    .m-title{
        width: 600px;
        height: 150px;
    }
    .m-title h1{
        line-height:3.5rem;       
    }
    .m-title h1 span{    
        line-height: 2.5rem;
    }
}
@mixin m-common-main-photo-for-tablet{
    .m-title{      
        width: 400px;
        height: 150px;    
    }
    .m-title h1{
        line-height:2.2rem;
    }
    .m-title h1 span{
        line-height: 2rem;
    }   
}
@mixin m-common-main-photo-for-phone{
    .m-image{       
        background-image: url('./../../assets/photos/oltarz_mobile.jpg');
        padding: 0px;
        z-index: -1;
   }
    .m-title{ 
        width: 300px;
        height: 100px;      
    }
    .m-title h1{  
        height: 78px;
        font-size: 1rem;
        line-height:1.5rem;  
        letter-spacing: 2px;  
    }
    .m-title h1 span{
        color: $warning-color;
        font-size: 0.9rem;
        display: block;
        letter-spacing: 1px;
        line-height: 2.5rem;
    }
}
//styles for INFO about Church
@mixin m-common-info-part-for-all{
    h4{
        text-transform: uppercase;
        letter-spacing: 2px;
        text-shadow: 2px 3px  #58595a;
    }
    .m-info-img{
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
    }
    .m-info-transparent{
        transition: .9s ease;
        opacity: 0;
        text-align: center;
    }
    .m-info-text{
        font-size: .9rem;
    }
    .card{
        border-radius: 0;
        border: 0;
    }
    .card-img{
        border-radius: 0;
    }
    .card:hover .m-info-img{
        opacity: 0.3;
    }
    .card:hover .m-info-transparent{
        opacity: 1;
    }
    .card-img-top{
        max-width: 100%;
        transition: all 0.3s ease;

    }
    .card-img-top:hover{
        transform: scale(0.9);
    }
}
@mixin m-common-photo-group-for-all{
    .m-photo-groups img{
        max-height: 500px;
    }
    .m-photo-groups h2{
        color: $warning-color;
        text-transform: uppercase;
        text-align: center;
        font-weight: 900;
        text-shadow: 3px 3px rgba(0, 0, 0, 0.315);
    }
    .m-photo-groups h3{
        color: $head-color;
        text-align: center;
        text-shadow: 3px 3px rgba(0, 0, 0, 0.315);
    }
    .m-photo-group-btn p{
        text-transform: uppercase;
        font-weight: 900;
        margin:0;
    }
}
@mixin m-common-photo-group-for-phone{
    .m-photo-groups h2{
        letter-spacing: 2px;
        font-size: 1rem;
        margin-top: 15px;
    }
    .m-photo-groups h3{
        font-size: 0.9rem;
        letter-spacing: 1px;
        margin-top: 20px;
    }
    .m-photo-group-btn p{
        letter-spacing: 0px;
        text-transform: uppercase;
        font-weight: 900;
        margin:0;
        padding: 0px;
        font-size: 0.9rem;
    }
}
@mixin m-common-photo-group-for-desktop-and-tablet{
    .m-photo-groups h2{
        letter-spacing: 3px;
        font-size: 1.5rem;
        margin-top: 50px;
    }
    .m-photo-groups h3{
        font-size: 1.6rem;
        letter-spacing: 2px;
        margin-top: 50px;
    }
    .m-photo-group-btn p{
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 900;
        margin:0;
        padding: 8px;
    }
}
//styles for footer
@mixin m-common-footer-part-for-all{
    .m-footer{
        background-color: #13080b;
        color: $head-color;
        text-align: center;
        letter-spacing: 1px;
    }
    .m-footer .row{
        padding: 20px;
    }
    .m-footer p{
        margin: 0 0 10px 0;
        font-size: 0.8rem;
    }
    .m-footer i{
        color: $head-color;
        font-size: 30px;
        padding: 20px;
    }
    .m-footer h6{
        color: $warning-color;
        font-size: 0.9rem;
    }
    .m-subfooter{
        background-color: #13080b;
    }
    .m-subfooter p{
        color: rgba(255, 255, 255, 0.601);
        padding: 10px;
        text-align: center;
    }
}
//styles for different media
@media #{$desktop}{
    @include m-common-parts-for-all;
    @include m-common-menu-part-for-all;
    @include m-common-main-photo-part-for-all;
    @include m-common-main-photo-for-desktop;
    @include m-common-menu-for-desktop;
    @include m-common-main-photo-for-desktop-and-tablet;
    @include m-common-info-part-for-all;
    @include m-common-photo-group-for-all;
    @include m-common-photo-group-for-desktop-and-tablet;
    @include m-common-footer-part-for-all;
}
@media #{$tablet}{
    @include m-common-parts-for-all;
    @include m-common-menu-part-for-all;
    @include m-common-main-photo-part-for-all;
    @include m-common-main-photo-for-tablet;
    @include m-common-look-for-phone-and-tablet;  
    @include m-common-menu-for-phone-and-tablet;
    @include m-common-main-photo-for-desktop-and-tablet;
    @include m-common-info-part-for-all;
    @include m-common-photo-group-for-all;
    @include m-common-photo-group-for-desktop-and-tablet;
    @include m-common-footer-part-for-all;
    .container{
        width: 100%;
        max-width: 768px;
    }
    .container-fluid{
        padding: 0;
    }
    
}
@media #{$phone}{
    @include m-common-parts-for-all;
    @include m-common-menu-part-for-all;
    @include m-common-main-photo-part-for-all;
    @include m-common-main-photo-for-phone;
    @include m-common-look-for-phone-and-tablet;
    @include m-common-menu-for-phone-and-tablet;
    @include m-common-info-part-for-all;
    @include m-common-photo-group-for-all;
    @include m-common-photo-group-for-phone;
    @include m-common-footer-part-for-all;
    .container{
        width: 100%;
        max-width: 480px;
    }
    .container-fluid{
        padding: 0;
    }
}